* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

li {
  padding: 1rem 2rem;
  background: var(--accent);
  border-radius: .5rem;
}

li:not(:last-child) {
  margin-right: .5rem;
}

section {
  margin: 1.5rem auto 0;
  background: var(--accent);
  padding-top: 20%;
  border-radius: .5rem;
}