*, *:before, *:after {
  box-sizing: border-box;
}

:host {
  --small: .5rem;
  --medium: 1rem;
  --large: 2rem;
}

ul {
  list-style: none;
  margin: 0 auto var(--large);
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

li {
  padding: 1rem 2rem;
  background: var(--accent);
  border-radius: .5rem;
  position: relative;
}

li:before {
  content: 'lg';
  border-left: 1px dashed;
  top: 100%;
  height: var(--large);
  position: absolute;
  opacity: .5;
  display: flex;
  align-items: center;
  padding: .5em;
  font-family: monospace;
  font-size: .875em;
}

li:not(:last-child) {
  margin-right: var(--small);
}

li:not(:last-child):after {
  content: 'sm';
  position: absolute;
  width: var(--small);
  border-top: 1px dotted;
  left: 100%;
  opacity: .5;
  display: flex;
  justify-content: center;
  padding: .5em 0;
  font-family: monospace;
  font-size: .875em;
}

section {
  margin: 0 auto;
  background: var(--accent);
  padding-top: 20%;
  border-radius: .5rem;
  position: relative;
}

section:not(:last-child) {
  margin-bottom: var(--medium);
}

section:not(:last-child):before {
  content: 'md';
  border-left: 1px dashed;
  top: 100%;
  height: var(--medium);
  position: absolute;
  left: 50%;
  opacity: .5;
  display: flex;
  align-items: center;
  padding: .5em;
  font-family: monospace;
  font-size: .875em;
}