div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 360px;
  margin: auto;
}

ul {
  --sq: 80px;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  max-width: var(--sq);
  height: var(--sq);
  gap: .25rem;
  justify-content: center;
}

ul:after {
  content: '';
  position: absolute;
}

li {
  flex: 1;
  background: var(--accent);
  border-radius: .25em;
  --dim: 60%;
}

li:first-child {
  --dim: 30%;
}

li:last-child {
  --dim: 100%;
}

.top {
  align-items: flex-start;
}

.v-center {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.top:after,
.v-center:after,
.bottom:after {
  width: 100%;
  border-top: 1px dashed;
}

.top li,
.v-center li,
.bottom li {
  height: var(--dim);
}

.left {
  flex-direction: column;
  align-items: flex-start;
}

.h-center {
  flex-direction: column;
  align-items: center;
}

.right {
  flex-direction: column;
  align-items: flex-end;
}

.left:after,
.h-center:after,
.right:after {
  height: 100%;
  border-left: 1px dashed;
}

.left li,
.h-center li,
.right li {
  width: var(--dim);
}