*, *:before, *:after {
  box-sizing: border-box;
}

body {
  --gap: 2rem;
  margin: 0;
  font-family: Lora;
  line-height: 1.5;
	color: #333;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1, h2, h3 {
	font-family: Poppins;
	font-weight: 700;
	margin: 0;
	line-height: 1.1;
	letter-spacing: -.05em;
	color: #000;
}

header {
  padding: 0 var(--gap);
	border-bottom: 1rem solid yellow;
	display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  transition: transform .5s ease;
  transform: translateY(0);
}

.hide-header {
  transform: translateY(-100%);
}

header > * {
  padding: 1rem 0;
}

header > a {
  text-decoration: none;
}

h1 {
  display: flex;
  align-items: center;
  font-size: min(2rem, 10vw);
}

h1 svg {
  margin-right: .25em;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

header li:not(:last-child) {
  margin-right: 1rem
}

header ul a {
  color: currentColor;
}

main {
  --max-width: 900px;
  --threshold: calc(var(--max-width) - 100px);
  max-width: var(--max-width);
	margin: auto;
	padding: var(--gap);
	align-self: center;
  font-size: 1.1em;
  line-height: 2;
}

main > h2 {
  min-width: calc(40% - var(--gap));
  max-width: 100%;
  width: calc((var(--threshold) - 100%) * 1000);
  text-align: right;
	font-size: min(3.5rem, 8vw);
  float: left;
  padding-bottom: var(--gap);
}

main > :not(h2) {
  min-width: 60%;
  max-width: 100%;
  width: calc((var(--threshold) - 100%) * 1000);
  margin-left: auto;
}

main > hr {
  border: 0;
  border-top: 1px solid;
  height: 0;
  width: 100%;
  max-width: 100%;
  margin: calc(var(--gap) * 2) 0;
}

main p {
  margin-top: 0;
  margin-bottom: var(--gap);
}