*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --bg-color: #000a29;
  --accent-color: #e2439a; /* https://share.getcloudapp.com/9ZuxRAym */
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: var(--bg-color);
  font-size: 1.2em;
  line-height: 1.5;
  color: #fff;
}

a {
  color: var(--accent-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Epilogue', sans-serif;
  line-height: 1.25;
  margin-top: 3em;
}

code {
  border: 1px solid rgba(0,0,0,.1);
  padding: .1em .2em;
  vertical-align: middle;
  background: var(--accent-color);
  color: #fff;
  border-radius: 2px;
}

main {
  background: #fff;
  color: #000;
  border-radius: 2px;
}

main:before {
  content: '';
  border: 4px dotted var(--accent-color);
  width: 30%;
  padding-top: 30%;
  display: block;
  position: absolute;
  z-index: -1;
  right: 20%;
  top: 10%;
}

main > :first-child {
  margin-top: 1em;
  padding-top: 2rem;
}

h2 + p::first-letter {
  font-size: 2em;
  margin-right: .2em;
  line-height: 1;
  float: left;
  border: 2px dotted var(--accent-color);
  padding: .15em .35em .2em;
  font-weight: bolder;
  color: #000;
  background-color: #fff;
  text-shadow: .05em .05em var(--accent-color);
  border-radius: 2px;
}

.max-width {
  max-width: 70ch;
  margin: 0 auto;
  padding: 0 2rem;
}

.logo {
  display: inline-flex;
  font-family: 'Epilogue', sans-serif;
  line-height: 1;
  flex-direction: column;
  font-size: 15vmin;
  margin: 2rem 0;
  text-shadow: .05em .05em var(--accent-color);
}