<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    <header class="max-width">
      <div class="logo heading">
        <span>get rid</span>
        <span style="text-indent: .6em;">of <s>grid</s></span>
      </div>
    </header>
    <main class="max-width">
      {{ content | safe }}
    </main>
  </body>
</html>