<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    <header>
      <a href="/">
        <h1>
          {% include "logo.njk" %}
          gridless.design
        </h1>
      </a>
      <ul>
        <li><a href="/history">history</a></li>
        <li><a href="/for-designers">designers</a></li>
        <li><a href="/for-developers">developers</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </header>
    <main id="top">
      {{ content | safe }}
    </main>
    <a id="back-to-top" href="#top">Back to top</a>
    <img src="https://analytics.damato.design/api/track?domain=gridless.design" style="display: none">
    <script>
      const header = document.querySelector('header');
      const topButton = document.querySelector('#back-to-top');
      let pos = 0;
      window.addEventListener('scroll', () => {
        header.classList.toggle('hide-header', pos < Math.max(window.scrollY, 0));
        topButton.classList.toggle('visible', window.scrollY > 400);
        pos = Math.max(window.scrollY, 0);
      })
    </script>
    <script defer src="component-examples.js"></script>
  </body>
</html>