<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    <header>
      <a href="/">
        <h1>
          {% include "logo.njk" %}
          gridless.design
        </h1>
      </a>
      <ul>
        <li><a href="/history">history</a></li>
        <li><a href="/for-designers">designers</a></li>
        <li><a href="/for-developers">developers</a></li>
      </ul>
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>