* {
  box-sizing: border-box;
}

pre {
  margin: 0 0 1rem;
  overflow-x: auto;
  max-width: 100%;
  white-space: pre-wrap;
  font-family: monospace;
}

code {
  opacity: .6;
}

.fab-four {
  --threshold: 600px;
  --gap: 1rem;
  --items: 3;
  --gap-spacing: calc(var(--gap) * (var(--items) - 1));
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap);
}

.fab-four > * {
  min-width: calc((100% - var(--gap-spacing)) / var(--items));
  max-width: 100%;
  width: calc((var(--threshold) - 100%) * 100000);
}

span {
  padding: 1rem 2rem;
  background-color: var(--accent);
  border-radius: .25em;
  text-align: center;
}